.basket {
  &__container {
    padding: 1.25rem;

    &--border {
      border-bottom: 0.0625rem solid $color--separator;
    }
  }

  @media screen and #{$mq-min--phone} {
    &__container {
      padding: 2.5rem;
    }
  }
}
