.button {
  position: relative;

  padding: 0.5rem 1.875rem;

  color: $color--button-label;
  font-size: 0.875em;
  line-height: 1.5rem;

  background-color: $color--button-background;
  border: none;
  border-radius: 0.1875rem;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &--primary-icon {
    min-width: 2.5rem; // 40px
    min-height: 2.5rem;
    padding: 0.5rem;
  }

  &--icon {
    padding: 0;
    min-width: 1.25rem;
    min-height: 1.25rem;

    background-color: $color--background;
  }
}
