.catalog-item {
  display: flex;
  flex-direction: column;
  max-width: 15.625rem; // 250px
  padding: 1.875rem 0.9375rem 0.9375rem 0.9375rem;

  border: 0.0625rem solid $color--catalog-item-border;
  border-radius: 0.1875rem; // 3px

  &__img {
    width: 100%;
    margin-bottom: 2.5rem;
  }

  &__title,
  &__price {
    font-size: 0.875em;
    line-height: 1rem;
  }

  &__title {
    width: 75%;
    margin-bottom: 0.75rem;

    font-weight: bold;
  }
}
