.catalog-list {
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    margin-bottom: 3.125rem; // 50px
  }

  @media screen and #{$mq-min--pad} {
    &__container {
      // max-width: 49.375rem; // 790px
      margin: 0 auto;
      padding: 0 6.25rem;
    }

    &__inner {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__item {
      margin-bottom: 3.625rem;
    }
  }

  @media screen and #{$mq-min--desktop} {
    &__container {
      margin: 0 0 11.0625rem 0;
      padding: 0 6.875rem;
    }

    &__list {
      max-width: 49.375rem;
    }

    &__item {
      margin-bottom: 3.125rem; // 50px
    }
  }

  @media screen and #{$mq-min--desktop-hd} {
    &__container {
      padding: 0 10.625rem;
    }

    &__inner {
      justify-content: flex-start;
      max-width: 55.625rem;
      margin-left: auto;
    }

    &__item {
      margin-right: 4.375rem;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}
