.form {
  font-size: 0.875em;
  line-height: 1rem;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--submit {
      & .input {
        margin-right: 0.625rem;
      }
    }
  }
}
