.header {
  padding: 1.625rem 1.5rem 1.375rem 1.25rem;

  border-bottom: 0.0625rem solid $color--separator;
  background-color: $color--background;

  @media screen and #{$mq-min--pad} {
    padding: 1.625rem 1.875rem 1.375rem 1.875rem;
  }
}
