$font--primary: "Roboto", "Open Sans", sans-serif;

.h3 {
  margin-bottom: 1.875rem;

  font-size: 1.125em;
  line-height: 1.3125rem;
}

.text {
  &--through {
    text-decoration: line-through;
    opacity: 0.5;
  }
}
